AZURE_TTS_TOKEN=your_azure_speech_subscription_key

AZURE_BASE_URL=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_KEY=your_azure_openai_api_key
AZURE_API_VERSION=2024-02-01

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token

FROM_NUMBER=1234567890
TO_NUMBER=0987654321

SERVER_URL=your-domain.ngrok-free.app